extends layout

block content
  h1= title
  p Welcome to the #{title} Auto School Blog Homepage. Although simple for now, it is functional, feel free to look around.
  p Don't forget to subscribe to our newsletter so you can stay updated with the website progress and all things HEM Automotive

  p Currently Here are the counts for the blog:
  
  ul
    li blogs !{blogs_count}
    li categories !{categories_count}
    li comments  !{comments_count}
    li contents !{contents_count}
    li images  !{images_count}
    li publishers !{publishing_infos_count}
    li tags !{tags_count}
    li videos !{videos_count}
